.small-font-size {
	font-size: .85em;
}

.mui-appbar {
	background-color: #808080;
}

.luxurious-spacing {
	padding: 100px 0;
}

.navheader {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.mugshot {
	text-align: center;
}

.main-card {
	background-color: #ddd;
	padding:5px 10px;
}

.sub-card {
	display: inline-block;
}

.sub-card-holder {
	white-space: nowrap;
	background-color: #ccc;
	padding:10px;
	overflow: auto;
}

.totheright {
	text-align: right;
}

.marginless {
	margin: 0;
}

legend {
	font-size: 18px;
}

#confirmPasswordErr {
	font-size: 14px;
	color:#ccc;
	padding:15px 0;
}

/** Background Colors **/
#login {
	background-color: white;
}

#intro {
	background-color: #ddd;
}

#aboutUs {
	background-color: black;
	color: white;
}

/** IcoMoon **/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9hepw2');
	src:url('fonts/icomoon.eot?#iefix9hepw2') format('embedded-opentype'),
	url('fonts/icomoon.woff?9hepw2') format('woff'),
	url('fonts/icomoon.ttf?9hepw2') format('truetype'),
	url('fonts/icomoon.svg?9hepw2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e912";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-share2:before {
	content: "\ea82";
}

